/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-dark);
    background: linear-gradient(to bottom, var(--background-color), var(--secondary-color), var(--primary-color));
   
}
:root{
    --primary-color: #E9FAE3;
    --secondary-color: #DEE8D5;
    --background-color: #D5C7BC;
    --text-color: #AC92A6;
    --text-dark: #3d3b3d;
    --danger-dark: #723544;
}
